.main-div {
    height: 92vh;
    width: 100vw;
    padding: 3% 22%;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.account-div {
    margin: 10% 2%;
    padding: 5%;
}

.uphoto-div {
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
}

.existing-div {
    padding: 5% 10% 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: fit-content;
    height: fit-content;
    text-align: center;
    letter-spacing: -1px;
    margin: 0 auto 10vh auto;
    font-size: 5vh;
    font-weight: 700;
}

.enlarged.u-label {
    font-size: 2.6vh;
    margin-bottom: 1.2vh;
}

.enlarged.u-input {
    font-size: 2.8vh;
    padding: 0 0 0.5rem 0.5rem;
    margin-bottom: 3vh;
}

.button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6vh;
}

.submit-button {
    border: none;
    font-size: 4.6vh;
    font-weight: 600;
    padding: 0.8vh 1.2vw;
    border-radius: 2.6rem;
    padding-bottom: 1.6vh;
    /* box-shadow: var(--float-box-shadow); */
}

.invalid {
    color: red;
    border-color: red;
}

.other-account-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: var(--passive-box-shadow);
    border-radius: 1rem;
    padding: 0.8vh 1vw;
    margin: 1.6vh 0;
    cursor: pointer;
    width: 17vw;
    transition: box-shadow 0.4s;
}

.other-account-container:hover {
    box-shadow: var(--active-box-shadow);
}

.account-icon {
    font-size: 4vh;
    color: var(--main);
    margin-right: 0.6vw;
}

.account-label {
    font-size: 4vh;
    color: var(--main);
    margin: 0 auto;
}

.facebook {
    background-color: rgba(66, 103, 178, 1);
    background-image: linear-gradient(180deg, rgba(66, 103, 178, 1) 41%, rgba(46, 72, 125, 1) 100%);
}

.instagram {
    background-color: rgba(64, 93, 230, 1);
    background-image: linear-gradient(180deg, rgba(64, 93, 230, 1) 0%,
            rgba(131, 58, 180, 1) 40%, rgba(245, 96, 64, 1) 85%, rgba(252, 175, 69, 1) 100%);
}

.google {
    letter-spacing: -1px;
}

.google:nth-child(3) {
    margin-left: 0.6vw;
}

.google-icon {
    /* color: transparent; */
    background-color: rgba(66, 133, 244, 1);
    background-image: linear-gradient(180deg,
            rgba(66, 133, 244, 1) 25%,
            rgba(219, 68, 55, 1) 25%,
            rgba(219, 68, 55, 1) 50%,
            rgba(244, 180, 0, 1) 50%,
            rgba(244, 180, 0, 1) 75%,
            rgba(15, 157, 88, 1) 75%,
            rgba(15, 157, 88, 1) 100%);
    background-clip: initial;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    border-radius: 1.2rem;
}