:root {
        --accent: #37b24d;
        --accent-shade: #2f9e44;
        --accent-tint: #51cf66;
        --main: #f1f3f5;
        --main-shade: #e9ecef;
        --main-tint: #f2f4f6;

        --accent-transparent-30: rgba(55, 178, 77, 0.3);

        --accent-gradient: linear-gradient(180deg,
                        var(--accent-tint) 0%,
                        var(--accent-shade) 100%);
        --main-gradient: linear-gradient(180deg,
                        var(--main-tint) 0%,
                        var(--main-shade) 100%);

        --text-gray: #666;

        /* --box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */

        --box-shadow:
                rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
                rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

        --float-box-shadow:
                rgba(0, 0, 0, 0.19) 0px 10px 20px,
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

html {
        font-family: "Inter", sans-serif;
        font-size: 62.5%;
}

body {
        height: 100vh;
        width: 100vw;
        background-image: var(--main-gradient);
}

.text-gradient {
        background: var(--accent-gradient);
        background-clip: inherit;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

ul {
        list-style-type: none;
}

.uPhoto-logo {
        font-weight: 700;
        font-size: 6vh;
        letter-spacing: -2px;
        height: 100%;
        margin-top: -1vh;
}

a {
        cursor: pointer;
        text-decoration: none;
}

*:focus {
        outline: none;
}

.u-input {
        width: 100%;
        outline: none;
        font-size: 2.2vh;
        font-weight: 500;
        background-color: transparent;
        border-style: solid;
        border-color: var(--accent);
        border-width: 0 0 0.2rem 0.2rem;
        padding: 0 0 0.4rem 0.4rem;
        color: var(--text-gray);

        margin-bottom: 1.6vh;
}

.u-input:focus {
        background-color: var(--accent-transparent-30);
        color: var(--accent)
}

.u-background-react,
.u-color-react {
        cursor: pointer;
}

.u-background-react {
        color: var(--main);
        background-image: var(--accent-gradient);
}

.u-background-react:hover {
        color: var(--main);
        background-image: none;
        background-color: var(--accent-tint);
}

.u-background-react:active {
        color: var(--main);
        background-image: none;
        background-color: var(--accent-shade);
}

.u-color-react {
        color: var(--accent);
}

.u-color-react:hover {
        color: var(--accent-tint);
}

.u-color-react:active {
        color: var(--accent-shade);
}

/* Spinner */


.lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
}

.lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid var(--accent);
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: var(--accent) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
}

@keyframes lds-ring {
        0% {
                transform: rotate(0deg);
        }

        100% {
                transform: rotate(360deg);
        }
}

.custom-toast  {
        width: fit-content;
        height: fit-content;
}

.custom-toast .toast-container  {
        width: fit-content;
        height: fit-content;
}

.custom-toast .toast-title {
        font-size: 3vh !important;
}

.custom-toast .toast-message {
        font-size: 1.8vh !important;
}
