.component {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 15% 85%;
}

.options-div {
    display: grid;
    grid-template-columns: 10% 75% 15%;
}

.drop-container {
    background-image: var(--main-gradient);
    box-shadow: var(--box-shadow);
    width: 100%;
    height: 100%;

    border-radius: min(3vh, 3vw * var(--ratio));

    cursor: pointer;
    color: var(--text-gray);
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop-info-div {
    width: fit-content;
    height: fit-content;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop-text {
    font-size: 3vh;
}

.drop-icon {
    font-size: 8vh;
}

.upload-btn-div {
    display: flex;
}

.upload-btn {
    margin: auto;
    font-size: 6vh;
    box-shadow: var(--box-shadow);
    padding: 0.4vh 1.4vw;
    border-radius: 2vh;
}

.photo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    row-gap: 1vh;
    padding-top: 1%;
}