<div class="component">
    <div class="options-div">
        <return-button routerLink="/App/Photos"></return-button>
        <div class="upload-settings-div">
            <!-- <ion-icon name="options-outline" class="upload-settings-btn"></ion-icon> -->
            <br />
            <u-select text="Set album" [data]="userAlbums" input-size="2.4vh" label-size="2vh" [(value)]="selectedAlbum"
                (valueChange)="setAlbumForAll($event)"></u-select>
            <br />
            <u-select text="Set place" [data]="userPlaces" input-size="2.4vh" label-size="2vh" [(value)]="selectedPlace"
                (valueChange)="setPlaceForAll($event)"></u-select>
            <br />
            <u-input text="Set tags" input-size="2.4vh" label-size="2vh" [(value)]="selectedTags"
                (valueChange)="setTagsForAll($event)"></u-input>
        </div>
        <div class="upload-btn-div">
            <ion-icon backgroundReact name="cloud-upload-outline" class="upload-btn" (click)="upload()"></ion-icon>
        </div>
    </div>
    <div #dropzone class="drop-container empty" (dragenter)="onDragEnter($event)" (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)" (drop)="onDrop($event)" (click)="onClick()"
        [ngClass]="{'empty': ifContainerEmpty, 'photo-container': !ifContainerEmpty}">
        <div *ngIf="ifContainerEmpty" class="drop-info-div">
            <h3 class="drop-text">Drop images or click to select files to upload</h3>
            <ion-icon name="download-outline" class="drop-icon"></ion-icon>
        </div>
        <file-httpdata #fileHttpDataElement *ngFor="let file of filesHTTPData; index as i" [file]="file" [index]="i"
            [albums]="userAlbums" [places]="userPlaces" (delete)="deleteElement($event)"></file-httpdata>
    </div>
</div>