<div class="component">
    <div class="options-div">
        <return-button routerLink="/App/Photos"></return-button>
        <div></div>
        <div class="upload-btn-div">
            <ion-icon backgroundReact name="cloud-upload-outline" class="upload-btn" (click)="upload()"></ion-icon>
        </div>
    </div>
    <div #dropzone class="drop-container empty" (dragenter)="onDragEnter($event)" (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)" (drop)="onDrop($event)" (click)="onClick()"
        [ngClass]="{'empty': ifContainerEmpty, 'photo-container': !ifContainerEmpty}">
        <div *ngIf="ifContainerEmpty" class="drop-info-div">
            <h3 class="drop-text">Drop images or click to select files to upload</h3>
            <ion-icon name="download-outline" class="drop-icon"></ion-icon>
        </div>
        <file-httpdata *ngFor="let file of filesHTTPData" [file]="file"></file-httpdata>
    </div>
</div>