<body>
    <u-header>
        <ul class="section-nav">
            <li class="section-link u-color-react">About App</li>
            <li class="section-link u-color-react">Overview</li>
            <li class="section-link u-color-react">Assets</li>
        </ul>
        <ul class="buttons-ul">
            <li>
                <a routerLink="/SignIn" class="signIn-button u-color-react">
                    Sign In
                </a>
            </li>
            <li>
                <a routerLink="/SignUp" class="signUp-button u-background-react">
                    Sign Up
                </a>
            </li>
        </ul>
    </u-header>
    <section class="about-section">
        <div class="about-info">
            <h1 class="about-header text-gradient">
                Organizing your photos has never been easier!
            </h1>
            <p class="about-p">
                Thanks to uPhoto you don't have to worry about having large amounts
                of photos. With simple design and many options to group,
                sort and search files you don't have to worry any of your memories
                will be missed!
            </p>
        </div>
        <div>
            <img src="assets/images/hero.png" />
        </div>
    </section>
</body>