<body>
    <div class="main-div">
        <form class="container" (ngSubmit)="onSubmit()">
            <h1 class="header text-gradient">Create account</h1>
            <ul class="requirements-ul">
                <li class="requirement" [ngClass]="{'invalid' : !cond.allFilled}">All fields must be filled in.</li>
                <li class="requirement" [ngClass]="{'invalid' : !cond.loginValid}">Login must be unused.</li>
                <li class="requirement" [ngClass]="{'invalid' : !cond.emailValid}">Email must be unused.</li>
                <li class="requirement" [ngClass]="{'invalid' : !cond.passwordValid}">Password:</li>
                <li class="requirement" [ngClass]="{'invalid' : !cond.lengthValid}">---------- at least 8 characters long.</li>
                <li class="requirement" [ngClass]="{'invalid' : !cond.containsNumber}">---------- contains number.</li>
                <li class="requirement" [ngClass]="{'invalid' : !cond.containsUppercase}">---------- contains uppercase character.</li>
                <li class="requirement" [ngClass]="{'invalid' : !cond.areSame}">Given passwords must be the same.</li>
                <li class="requirement">All spaces are automatically removed.</li>
            </ul>
            <h3 class="u-label">Login:</h3>
            <input name="login" [(ngModel)]="registerData.login" class="u-input" type="text" [ngClass]="{'invalid' : !cond.loginFilled}"/>
            <h3 class="u-label">E-mail:</h3>
            <input name="email" [(ngModel)]="registerData.email" class="u-input" type="email" [ngClass]="{'invalid' : !cond.emailFilled}"/>
            <h3 class="u-label">Password:</h3>
            <input name="password" [(ngModel)]="registerData.password" class="u-input" type="password" [ngClass]="{'invalid' : !cond.passwordFilled}"/>
            <h3 class="u-label">Confirm password:</h3>
            <input name="confirmation" [(ngModel)]="registerData.confirmation" class="u-input" type="password" [ngClass]="{'invalid' : !cond.confirmationFilled}"/>
            <div class="button-div">
                <button *ngIf="!isProcessing" class="submit-button u-background-react" type="submit">Submit</button>
                <div *ngIf="isProcessing" class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </form>
    </div>
    <app-footer></app-footer>
</body>