<body>
    <div class="main-div">
        <form class="account-div uphoto-div" (ngSubmit)="onSubmit()">
            <h1 class="text-gradient header">Sign in using uPhoto account</h1>
            <div>
                <u-input text="Login" input-size="2.2vh" label-size="2vh" input-type="text" [(value)]="login"
                    [valid]="!loginEmpty"></u-input>
                <u-input text="Password" input-size="2.2vh" label-size="2vh" input-type="password" [(value)]="password"
                    [valid]="!passwordEmpty"></u-input>
            </div>
            <div class="button-div">
                <button *ngIf="!isProcessing" class="u-background-react submit-button" type="submit">Sign In</button>
                <div *ngIf="isProcessing" class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </form>
        <div class="account-div existing-div">
            <h1 class="text-gradient header">Use existing account</h1>
            <!-- Facebook -->
            <div shadowReact class="other-account-container  facebook" (click)="otherSignIn()">
                <ion-icon name="logo-facebook" class="account-icon"></ion-icon>
                <h2 class="account-label">Facebook</h2>
            </div>
            <!-- Instagram -->
            <div shadowReact class="other-account-container instagram" (click)="otherSignIn()">
                <ion-icon name="logo-instagram" class="account-icon"></ion-icon>
                <h2 class="account-label">Instagram</h2>
            </div>
            <!-- Google -->
            <div shadowReact class="other-account-container" (click)="otherSignIn()">
                <ion-icon name="logo-google" class="account-icon google-icon"></ion-icon>
                <p class="account-label google">
                    <span style='color: #4285F4'>G</span>
                    <span style='color: #DB4437'>o</span>
                    <span style='color: #F4B400'>o</span>
                    <span style='color: #4285F4'>g</span>
                    <span style='color: #0F9D58'>l</span>
                    <span style='color: #DB4437'>e</span>
                </p>
                <p class="account-label google">
                    <span style='color: #4285F4'>P</span>
                    <span style='color: #DB4437'>h</span>
                    <span style='color: #F4B400'>o</span>
                    <span style='color: #4285F4'>t</span>
                    <span style='color: #0F9D58'>o</span>
                    <span style='color: #DB4437'>s</span>
                </p>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>