.component {
    width: 60%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 70% 30%;
}

.data-apps-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    margin: auto 0;
    gap: min(3vh, 3vw * var(--ratio));
    row-gap: min(3vh, 3vw * var(--ratio));
}

.other-apps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin: auto 0;
    gap: min(3vh, 3vw * var(--ratio));
}

.app-container {
    background-image: var(--main-gradient);
    width: min(18vh, 18vw * var(--ratio));
    height: min(18vh, 18vw * var(--ratio));
    border-radius: min(2vh, 2vw * var(--ratio));

    display: grid;
    grid-template-rows: 60% 40%;
    align-items: center;
    padding: 6%;
}

.app-icon {
    margin: auto;
    font-size: min(8vh, 8vw * var(--ratio));
    /* font-size: 6vh; */
}

.app-header {
    font-size: min(3vh, 3vw * var(--ratio));
    /* font-size: 3vh; */
    width: max-content;
    margin: auto;
    white-space: pre-line;
}

.wrap {
    width: min-content;
}