<div class="component">
    <div class="data-apps-container">
        <!-- Photos -->
        <a routerLink="/App/Homepage">
            <div colorReact shadowReact class="app-container">
                <ion-icon name="images-outline" class="app-icon"></ion-icon>
                <h3 class="app-header">Photos</h3>
            </div>
        </a>
        <!-- Add photo -->
        <a routerLink="/App/Homepage">
            <div colorReact shadowReact class="app-container">
                <ion-icon name="add-outline" class="app-icon"></ion-icon>
                <h3 class="app-header">Add photo</h3>
            </div>
        </a>
        <!-- Albums -->
        <a routerLink="/App/Homepage">
            <div colorReact shadowReact class="app-container">
                <ion-icon name="folder-outline" class="app-icon"></ion-icon>
                <h3 class="app-header">Albums</h3>
            </div>
        </a>
        <!-- Create Album -->
        <a routerLink="/App/Homepage">
            <div colorReact shadowReact class="app-container">
                <ion-icon name="duplicate-outline" class="app-icon"></ion-icon>
                <h3 class="app-header wrap">Create album</h3>
            </div>
        </a>
        <!-- Places -->
        <a routerLink="/App/Homepage">
            <div colorReact shadowReact class="app-container">
                <ion-icon name="earth-outline" class="app-icon"></ion-icon>
                <h3 class="app-header">Places</h3>
            </div>
        </a>
        <!-- Add place -->
        <a routerLink="/App/Homepage">
            <div colorReact shadowReact class="app-container">
                <ion-icon name="globe-outline" class="app-icon"></ion-icon>
                <h3 class="app-header">Add place</h3>
            </div>
        </a>
    </div>
    <div class="other-apps-container">
        <!-- Shared -->
        <a routerLink="/App/Homepage">
            <div colorReact shadowReact class="app-container">
                <ion-icon name="cloud-outline" class="app-icon"></ion-icon>
                <h3 class="app-header">Shared</h3>
            </div>
        </a>
        <!-- Account -->
        <a routerLink="/App/Homepage">
            <div colorReact shadowReact class="app-container">
                <ion-icon name="person-outline" class="app-icon"></ion-icon>
                <h3 class="app-header">Account</h3>
            </div>
        </a>
        <!-- Settings -->
        <a routerLink="/App/Homepage">
            <div colorReact shadowReact class="app-container">
                <ion-icon name="settings-outline" class="app-icon"></ion-icon>
                <h3 class="app-header">Settings</h3>
            </div>
        </a>
    </div>
</div>