<body>
    <div class="main-div">
        <div class="account-div uphoto-div">
            <h1 class="text-gradient header">Sign in using uPhoto account</h1>
            <div>
                <u-input text="Login" input-size="2.2vh" label-size="2vh" input-type="text"></u-input>
                <u-input text="Password" input-size="2.2vh" label-size="2vh" input-type="password"></u-input>
            </div>
            <div class="button-div">
                <button class="u-background-react submit-button">Sign In</button>
            </div>
        </div>
        <div class="account-div existing-div">
            <h1 class="text-gradient header">Use existing account</h1>
            <!-- Facebook -->
            <div class="other-account-container  facebook">
                <ion-icon name="logo-facebook" class="account-icon"></ion-icon>
                <h2 class="account-label">Facebook</h2>
            </div>
            <!-- Instagram -->
            <div class="other-account-container instagram">
                <ion-icon name="logo-instagram" class="account-icon"></ion-icon>
                <h2 class="account-label">Instagram</h2>
            </div>
            <!-- Google -->
            <div class="other-account-container">
                <ion-icon name="logo-google" class="account-icon google-icon"></ion-icon>
                <p class="account-label google">
                    <span style='color: #4285F4'>G</span>
                    <span style='color: #DB4437'>o</span>
                    <span style='color: #F4B400'>o</span>
                    <span style='color: #4285F4'>g</span>
                    <span style='color: #0F9D58'>l</span>
                    <span style='color: #DB4437'>e</span>
                </p>
                <p class="account-label google">
                    <span style='color: #4285F4'>P</span>
                    <span style='color: #DB4437'>h</span>
                    <span style='color: #F4B400'>o</span>
                    <span style='color: #4285F4'>t</span>
                    <span style='color: #0F9D58'>o</span>
                    <span style='color: #DB4437'>s</span>
                </p>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>