<body>
    <div class="main-div">
        <form class="container" (ngSubmit)="onSubmit()">
        <!-- <form class="container"> -->
            <h1 class="header text-gradient">Create account</h1>
            <ul class="requirements-ul">
                <li class="requirement" [ngClass]="{'invalid' : !cond.allFilled}">All fields must be filled in.</li>
                <li class="requirement" [ngClass]="{'invalid' : !cond.loginValid}">Login must be unused.</li>
                <li class="requirement" [ngClass]="{'invalid' : !cond.emailValid}">Email must be unused.</li>
                <li class="requirement" [ngClass]="{'invalid' : !cond.passwordValid}">Password:</li>
                <li class="requirement" [ngClass]="{'invalid' : !cond.lengthValid}">---------- at least 8 characters
                    long.</li>
                <li class="requirement" [ngClass]="{'invalid' : !cond.containsNumber}">---------- contains number.</li>
                <li class="requirement" [ngClass]="{'invalid' : !cond.containsUppercase}">---------- contains uppercase
                    character.</li>
                <li class="requirement" [ngClass]="{'invalid' : !cond.areSame}">Given passwords must be the same.</li>
                <li class="requirement">All spaces are automatically removed.</li>
            </ul>
            <u-input text="Login" input-size="2vh" label-size="1.8vh" input-type="text" [(value)]="registerData.login"
                [valid]="cond.loginFilled"></u-input>
            <u-input text="E-mail" input-size="2vh" label-size="1.8vh" input-type="text" [(value)]="registerData.email"
                [valid]="cond.emailFilled"></u-input>
            <u-input text="Password" input-size="2vh" label-size="1.8vh" input-type="password"
                [(value)]="registerData.password" [valid]="cond.passwordFilled"></u-input>
            <u-input text="Confirm password" input-size="2vh" label-size="1.8vh" input-type="password"
                [(value)]="registerData.confirmation" [valid]="cond.confirmationFilled"></u-input>
            <div class="button-div">
                <button *ngIf="!isProcessing" class="submit-button u-background-react" type="submit">Submit</button>
                <div *ngIf="isProcessing" class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </form>
    </div>
    <app-footer></app-footer>
</body>