<body>
    <nav class="navbar">
        <h1 class="text-gradient uPhoto-logo">uPhoto</h1>
        <ul class="section-nav">
            <li class="section-link u-color-react">About App</li>
            <li class="section-link u-color-react">Overview</li>
            <li class="section-link u-color-react">Assets</li>
        </ul>
        <ul class="buttons-ul">
            <li>
                <a routerLink="/SignIn" class="signIn-button u-color-react">
                    Sign In
                </a>
            </li>
            <li>
                <a routerLink="/SignUp" class="signUp-button u-background-react">
                    Sign Up
                </a>
            </li>
        </ul>
    </nav>
</body>