<body>
    <nav class="navbar">
        <h1 class="text-gradient uPhotoLogo">uPhoto</h1>
        <ul class="sectionNav">
            <li class="sectionLink">About App</li>
            <li class="sectionLink">Overview</li>
            <li class="sectionLink">Assets</li>
        </ul>
        <ul class="buttonsUl">
            <li>
                <a routerLink="/signin" class="signInButton">
                    Sign In
                </a>
            </li>
            <li>
                <a routerLink="/signup" class="signUpButton">
                    Sign Up
                </a>
            </li>
        </ul>
    </nav>
</body>