.header-icon {
    font-size: 6vh;
    margin-left: 1vw;
}

.header-icon:nth-child(2) {
    margin-left: auto;
    font-size: 5vh;
}

.body-div {
    margin-top: 7vh;
    height: 93vh;
    padding: 2% 15%;
    display: grid;
    grid-template-columns: 10% 90%;
}
