<footer class="footer">
    <a routerLink="/">
        <h1 class="text-gradient uPhoto-logo footer-logo">uPhoto</h1>
    </a>
    <h2 class="copyright">
        &copy; Mateusz Gurdała | All Rights Reserved
    </h2>
    <ul class="links-ul">
        <li>
            <a colorReact href="https://github.com/MateuszGurdala">Authors</a>
        </li>
        <li>
            <a colorReact href="https://github.com/MateuszGurdala">Privacy</a>
        </li>
        <li>
            <a colorReact href="https://www.linkedin.com/in/mateusz-gurda%C5%82a-03118522b/">Contact Us</a>
        </li>
    </ul>
</footer>