.container {
    width: 96%;
    height: 30vh;
    margin: 0 auto;

    display: grid;
    grid-template-rows: 20% 80%;
    background-image: var(--main-gradient);
    border-radius: 2vh;
    padding: 1% 2%;
}

.fav-title-delete-div {
    display: grid;
    grid-template-columns: 10% 75% 15%;
    align-items: center;
}

.star {
    font-size: 2.6vw;
    color: var(--accent);
    width: fit-content;
    height: fit-content;
    visibility: hidden;
    cursor: pointer;
    margin-top: -7vh;
    margin-left: 0.2vw;
}

.star:before {
    content: "\2606";
    visibility: visible;
}

.star:checked:before {
    content: "\2605";
}

.delete-btn {
    font-size: 4vh;
    margin: auto;
}

.img-place-album-tags-div {
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
}

.photo {
    max-height: 22vh;
    max-width: 100%;
    background-size: cover;
    margin: auto;
    display: block;
}

.album-place-tags-div {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    height: fit-content;
    margin: auto 0;
}